
body {
    padding: 0;
 scroll-behavior: smooth;  
  margin: 0;
 

}


#suchj {
    display: flex;
}

#lo {
    position: absolute;
    background-color: white;
    
    margin-top: 7px;
    border-radius: 3%;
}
#bif {
    border:1px solid gray ;
    padding: 4%;
    border-radius: 3%;
   
}

#bes {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: gainsboro;
    font-size: 0.7rem;
}

#titel {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}
.beschreibung {
    display: flex;
    text-align: center;
}
#nummer {
    background-color:#6B3B84 ;
    display: flex;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    width: 11%;
    
    padding: 1%;
    color: white;
    font-weight: bolder;
}
#head {
    display: flex;
  
}
.card-title {
    margin-left: 5%;
}

.nav-link {
    font-weight: bolder;
    font-size: 1rem;
    color: white;
}
#news {
    padding: 4%;
    margin: 4%;
    border-radius: 7px;
    box-shadow:   0 4px 8px 0 rgb(53 105 128 / 30%),0 6px 20px 0 rgb(165 200 213 / 41%);
   
}
.card-title{
font-size: 1.6rem;

}
#ranking{
    padding: 4%;
    display: none;
    margin: 4%;
    border-radius: 7px;
    box-shadow:   0 4px 8px 0 rgb(53 105 128 / 30%),0 6px 20px 0 rgb(165 200 213 / 41%);
   
}
#ü h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

#ü p {
    display: flex;
    justify-content: center;
    text-align: center;
}

#button {
    padding-top: 3%;
    
}
#bu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#ne {
    width: 50%;
    border: 1px grey;
}

#ra {
    width: 50%;
    border: 1px grey;
}
.card-img-top {
    height: 350px;
    object-fit: cover;
    width: 80%;
    margin-left: 10%;
    border-radius: 0px;
    border-radius: 1.2%;
}


#hinzufügen {
    border-radius: 3px;
    border: 0px;
    background-color: #6B3B84;
  color: white;
    font-weight: bolder;
}
.dis {
    background-color: grey;
   border-radius: 4px;
   padding-left: 5px;
   color: white;
   font-weight: bold;
   font-size: 1.07rem;
}
#hinzufügen:hover {
    background: grey;
}

.new::after {
    content: "";
    bottom: 0;
    right: 0;
    
    background-color:#33044c ;
    height: 10px;
width: 0%;
 display: block;

 transition: 0.3s ease-in-out;
   
}
.ran::after {
    content: "";
    bottom: 0;
    left: 0;
    background-color: #33044c;
    height: 10px;
width: 0%;
 display: block;
 
 transition: 0.3s ease-in-out;
   
}
.new:hover::after {
    width: 100%;
}
.ran:hover::after {
    width: 100%;
}
.body {
    background: linear-gradient(to bottom, #ff00ff 0%, #666699 90%);
}
.title {
    display: flex;
  justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    
    color: white;
}
#flex {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 340px;
    height: 37px;
  border: 0px;
    background-color: white;
     border-radius: 50px;
     padding-right: 5%;
}
#flex:hover {
    border: 2px solid rgb(16, 16, 33);

}
.title i {
    margin-right: 5px;
}


.text{
    display: flex;
    justify-content: center;
    text-align: center;
   
    color: white;
}

.active:hover::after{
    width: 100%;


}
.ran h4:hover {
    font-size: 1.35rem;
}
h4 {
    color:#33044c ;
}
.new h4:hover {
    font-size: 1.35rem;
}
#suchm {
    position: fixed;
    display: flex;
    width: 100px;
    height: 100px;
    left: 20px;
    top: 20px;
    background: #6B3B84;
}
#j {
    position: absolute;
    color: red;
    top: 0;
    left: 0;
}
#a  {
    text-decoration: none;
    


    font-weight: bolder;
    font-size:1.4rem;
    width: 100%;
    margin-left: 5%;
}
#star {
    display: flex;
    align-items: center;
}
.fa-star {
    color: yellow;
    font-size: 1.55rem;
}#cd-buttons {

    display: flex;
    height: 17%;
    justify-content: space-between;
}
#link {
    width: 48%;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
   text-decoration: none;
 

background-color: #666699;
}
#let {
    width: 200px;
    height: 200px;
   background-color: white;
   display: none;
    border-radius: 5px;
    position: fixed;
    top: 30px;
    left: 30px;
}
#lete {
    width: 100%;
    height: 100%;
    padding: 2%;
}
#über {
    height: 55%;
    display: flex;
    justify-content: center;

    padding: 1%;
    font-size: 1.5rem;

  
}
#ele {
    height: 20%;

   
   
}
   

#ele i {
    font-size: 1.5rem;
    margin-right: 4%;
}
#hj {
    display: flex;
    justify-content: center;
    text-align: center;
}
#kl {
    display: flex;
    justify-content: space-between;
}
#kl img{
    width: 48%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}
.dropdown-item {
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}
#kj p {
    color: rgb(9, 9, 30);
    font-size: 1rem;
    font-weight: bold;
}
#db {
   
    margin-top: 10px;
  box-shadow:   0 4px 8px 0 rgb(53 105 128 / 30%),0 6px 20px 0 rgb(165 200 213 / 41%);
}



#section {
    
    padding: 2%;
}
#hj h1 {
    color: Black;
}
#con {
    background-color: white;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgb(53 105 128 / 30%),0 6px 20px 0 rgb(165 200 213 / 41%); 
    border-radius: 2%;
}
#kj {
    background-color: white;
    padding: 3%;
border-radius:  0px 0px 4px 4px;
}
.card {
    width: 100%;
    margin-top: 20px;
    border-radius: 0px;

}
#ele a {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: center;

    width: 100%;
    border-radius: 6px;

    
  color: white;
   text-decoration: none;
 

background-color: #666699;
}

.ArtikelÜ1 {
    margin-top: 7px;
}



@media only screen and (min-width: 760px) {
   
  .card-img-top {
    width: 50%;
    margin-left: 20%;
    height: 550px;
  }
  #kl img {
    height: 500px;
    width: 40%;
  }
  .card-title{
    font-size: 2rem;
    
    }
    #flex {
        width: 300px;
        height: 35px;
    }

 
  
}
@media only screen and (max-width: 330px) {
    #flex {
        width: 250px;
        height: 35px;
    }
}
.beschreibung {
    display: flex;
    justify-content: center;
}
